.vscode/

# python module
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# executable
*.exe
*.out

*.bin

# archive
*.tar
*.gz
*.tgz
*.rar
*.zip
*.7z

archive/
*/temp/
tempCodeRunnerFile.cpp

!src/x256offline/*.bin
